.header {
    grid-area: header;
    height: 10vh;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: azure;
    font-family: "Poiret One", cursive;
  }
  
  .header .logo {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .logo img {
    max-width: 40px;
    object-fit: contain;
  }